.inbox-page {}

@media (max-width: 576px) {
    .navbar .left-control>*:not(:first-child) {
        display: none !important;
    }

    .navbar .right-control {
        display: none !important;
    }
}

.projects {
    width: 100%;
}

.project {
    width: 100%;
}

.add-project{
    margin-bottom: 3rem;
}