@import url('header.css');
@import url('navbar.css');
@import url('sidenav.css');
@import url('inbox.css');
@import url('task.css');
@import url('footer.css');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
  overflow-y: overlay;
}

.content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}


.inbox-page {
  transition: 1s;
}