.task {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2%;
  padding-bottom: 1%;
  font-size: 0.9rem;
}

.task .done {
  border: 1px solid rgba(0, 0, 0, 0.474);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
}

.task .done:hover {
  background-color: #7d7d7d22 !important;
}

.task .task-name {
  padding: 0% 1%;
}

.task .actions {
  border: none;
  background-color: white;
}

.task .fa-ellipsis {
  color: black;
}

.actions {
  margin-left: auto;
}

.show-task-form {
  color: grey;
  border: none;
  outline: none;
}

.show-task-form i {
  background-color: transparent;
  color: #db4c3f;
}

.task-form {
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 0, 5%;
  font-size: small;
  visibility: hidden;
}

.task-form input {
  border: 0;
  outline: 0;
  padding: 0.5rem;
}

.task-form input:last-of-type {
  border-top: 1px solid rgba(128, 128, 128, 0.2);
}

.control {
  display: flex;
  justify-content: center;
}