.task {
  display: flex;
  flex-shrink: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2%;
  gap: 0.5rem;
  padding-bottom: 1%;
  font-size: 0.9rem;

}

.task-description {
  color: grey;
}

.task .done {
  border: 1px solid rgba(0, 0, 0, 0.474);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
}

.task .done:hover {
  background-color: #7d7d7d22 !important;
}


.task .actions {
  border: none;
  background-color: white;
}

.task .fa-ellipsis {
  color: black;
}

.actions {
  margin-left: auto;
}

.show-task-form {
  color: grey;
  border: none;
  outline: none;
}

.show-task-form i {
  background-color: transparent;
  color: #db4c3f;
}

.task-form {
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 0, 5%;
  font-size: small;
  visibility: hidden;
}

.task-form input {
  border: 0;
  outline: 0;
  padding: 0.5rem;
}

.task-form input:last-of-type {
  display: inline;
  border: 1px solid rgba(128, 128, 128, 0.2);
  user-select: none;
  /* Standard syntax */
}

.taskDate {
  left: 0;
  top: 0;
  cursor: pointer;
  box-sizing: border-box;
}

input[type=date]::-webkit-datetime-edit {
  color: transparent;
  opacity: 0;
}

input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}


.control {}